body{
    background-image: url(Station_6_Spaltenlayout/images/bg.png);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
}
.wrapper{
    position: absolute;                                                              
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.spalten_1{
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-rule-width: 10px;
    position: relative;
    width: 35%;
    z-index: 2;
    top: 270px;
    left: 500px;
}
.spalten_2{
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -webkit-column-rule-width: 10px;
    position: relative;
    width: 35%;
    z-index: 2;
    top: 300px;
    left: 500px;
   }

