body, html {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.drumpad {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 462px;

}

.b1 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 4, 255));
    float: left;
    margin: 2px;
    opacity: 0.8;
}

.b2 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 4, 255));
    float: left;
    margin: 2px;
    opacity: 0.8;
}

.b3 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 4, 255));
    float: left;
    margin: 2px;
    opacity: 0.8;
}

.b4 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 255, 98));
    float: left;
    margin: 2px;
    opacity: 0.8;
}

.b5 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 255, 98));
    float: left;
    margin: 2px;
    opacity: 0.8;
}

.b6 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 255, 98));
    float: left;
    margin: 2px;
    opacity: 0.8;
}

.b7 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(0, 255, 98));
    float: left;
    margin: 2px;
    opacity: 0.8;
}

.b8 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(225, 0, 255));
    float: left;
    margin: 2px;
    opacity: 0.8;
}

.b9 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(225, 0, 255));
    float: left;
    margin: 2px;
    opacity: 0.8;
}


.b1:hover {
 opacity: 1;
}

.b2:hover {
    opacity: 1;
}

.b3:hover {
    opacity: 1;
}

.b4:hover {
    opacity: 1;
}

.b5:hover {
    opacity: 1;
}

.b6:hover {
    opacity: 1;
}

.b7:hover {
    opacity: 1;
}

.b8:hover {
    opacity: 1;
}

.b9:hover {
    opacity: 1;
}

.play {
    text-align: center;
   

}

img:hover {
    opacity: 0.5;
}