body {
    background-image: url(schwarzer-und-grauer-hintergrund-des-alten-schmutzes_74190-2032.jpg);
    width: 100%;
    text-align: center;
    background-size: 100% auto;
}

h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        color: rgb(0, 0, 0);
    }
    
    
    .button {
        width: 190px;
        height: auto;
        text-align: center;
        
    }

    .button:hover {
        -webkit-transform: rotateZ(-5deg);
        -ms-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
    }

    .frage {
        width: 500x;
        height: auto;
    }
        